html {
	position: relative;
	min-height: 100%;
}

body{
    color: black;
    font-family: 'Abel', sans-serif;
    /*height: 100%;
    margin-bottom: 60px;*/
}

* {
	box-sizing: border-box;
}

#wrap{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

img { 
    width: 250px;
    height: 150px;
	margin-right: 10%;
	margin-bottom: 5%;
	display: inline-block;
	border: 5px solid white;

}

img:hover {
	border: 5px solid #735886;
}
.btn {
    background-color: #999999;
    border-color: #fff;
}
.btn:hover {
	background-color:#735886;
}
#viewGiphs {
    width: 100%;
}

.giphDiv{
	float: left;
	margin: 10px;
}
.container {
	background-color: #fff;
	padding: 20px;
}
.jumbotron {
    background-color: #735886;
}
.jumbotron h1 {
    text-align: center;
    font-family: 'Kumar One Outline', cursive;
}
#copyright{
	font-size: 12px;
}

#push {
	height: 150px;
}

#footer .container {
	background-color: #735886;
	position: fixed;
	bottom:0;
	text-align: center;
	width: 100%;
	height:60px;
	line-height: 20px;
	color: white;
	padding: 20px;
	font-size: 16px;
}

#giphy-display img {
	

}






